<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <!-- <link rel="manifest" href="/manifest.json"> -->
  <meta name="theme-color" content="#000000">

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css?version=9">
  {% if page and page.url == "index.html" %}
  <style>aside img { display: unset; }</style>
  {% endif %}

  <link rel="license" hreflang="en" href="{{ SITEURL }}/copyright.html" />
  
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>

  <aside id='left'>
    <a href="/">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/logo.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
    </a>
    <h1><a href="/">{{ SITETITLE }}</a></h1>
    {% if SITESUBTITLE %}<p class='subtitle'>{{ SITESUBTITLE }}</p>{% endif %}
    <br />
    <nav>
      <ul>
        {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}" {% if page and page.url == link %} class='active' {% endif %}>{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </aside>

   
  <main>
    <div id='content'>
    {% block content %}{% endblock %}
    </div>

    <footer>
      <p><small>
        content licensed <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
        <span class='break'>—</span> ©2020 {{ AUTHOR }} <span class='break'></span>
      </small></p>
    </footer>
  </main>

    <aside id='right'>
		<!--
	  <h5 style="margin-block-end: 0;"><strong>Administration</strong></h5>

	  <p style="margin-block-start: 0.5em; margin-block-end: 3em;">
		  Bianca del Mestre<br>
	  <small>
		 Room: MAR 5.019<br>
	  +49 (0)30 314-75771<br>
	  bianca.delmestre@tu-berlin.de<br>
	  Office hours: Mon-Wed 10 a.m.-12 p.m.<br>
	 </small>
	  </p>
	  -->
	  <!-- <hr> -->
	  <h5 style="margin-block-end: 0;"><strong>Kontakt</strong></h5>

	 <p style="margin-block-start: 0.5em; margin-block-end: 3em;">
	  <small>
	  <a href="mailto:ethikkommission@eecs.tu-berlin.de">ethikkommission@eecs.tu-berlin.de</a>
	  Ethik-Kommission (EK) der Fakultät IV<br>
	  Technische Universität Berlin<br>
	  Sek. MAR 5-5<br>
	  Marchstr. 23, 10587 Berlin<br>
	  </small>
	  </p>
	 
	  
  </aside>
</body>
</html>
